@import "../../style/abstracts/variables";
@import "../../style/abstracts/mixins";

.container_form {
  margin: 1rem;
  width: 30rem;
  height: 16rem;
  border-radius: 20px;
  overflow: hidden;
}

.container_form.open {
  height: 35rem;
}
.Form {
  width: 100%;
  height: 35rem;
  background-color: $primary;
  display: grid;
  grid-template-rows: 40% auto;
  overflow: hidden;
  gap: 2rem;
  box-sizing: border-box;

  h4 {
    color: $tertiary;
    font-weight: 400;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  .input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid $secondary;
    font-size: 15px;
    background-color: $primary;
    color: #fff;
    font-family: "Poppins";
    border-radius: 15px;
    border: 1px solid $secondary;

    &:last-child {
      border-bottom: 0;
    }
    &::-webkit-input-placeholder {
      color: $secondary;
    }
  }
  .input.error {
    border: 1px solid #ff5858;
    color: #ff5858;
  }
  .input.success {
    border: 1px solid $success;
    color: $success;
  }
  .dni_data {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .container_dni {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .label {
        width: 80%;
        padding: 8px 15px;
        box-sizing: border-box;
        font-size: 13px;
        color: grey;
      }
      .label.error {
        color: $error;
      }
      .label.success {
        color: $success;
      }
    }
  }
  .personal_data {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container_input_data {
    @include container_input;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    .input {
      padding-left: 3rem;
      width: 100%;
    }
    .input.input_empty {
      color: $tertiary;
    }
  }
  .container_subtitle {
    width: 80%;
    box-sizing: border-box;
  }
  .container_input_dni {
    width: 80%;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid $secondary;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    button {
      width: 100%;
      height: 3rem;
      background-color: $quaternary;
      border: none;
      display: flex;
      @include align(center, center);
      cursor: pointer;
      border-radius: 20px;
      color: #fff;
      font-size: 15px;
      img {
        display: none;
      }
      &:hover {
        img {
          filter: invert(100%);
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .container_form {
    .Form {
      .input {
        font-size: 13px;
      }
    }
  }
}
