$primary: #26252c;
$secondary: #3c3b45;
$tertiary: #a8a8aa;
$quaternary: #8a77ff;

$error: #ff5151;
$error-shadow: drop-shadow(0px 10px 10px rgba(255, 81, 81, 0.34));
$warning: #ffcc4a;
$warning-shadow: drop-shadow(0px 10px 10px rgba(255, 203, 69, 0.4));
$success: #58ff7d;
$success-shadow: drop-shadow(0px 10px 10px rgba(46, 255, 92, 0.28));
